h2 {
    color: black;
    text-align: center;
    line-height: 1.2;
    margin: 40px 0 40px 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: 65%;
}

#charte-1 {
    margin-bottom: 50px;
}